In [1]:
import pandas as pd
import numpy as np

s = pd.Series(['Eric','George','Lon.don','Hola Mundo'])

print s

0          Eric
1        George
2       Lon.don
3    Hola Mundo
dtype: object

In [2]:
print s.str.lower()

0          eric
1        george
2       lon.don
3    hola mundo
dtype: object

In [3]:
print s.str.upper()

0          ERIC
1        GEORGE
2       LON.DON
3    HOLA MUNDO
dtype: object

In [4]:
print s.str.len()

0     4
1     6
2     7
3    10
dtype: int64

In [5]:
print s.str.contains(' ')

0    False
1    False
2    False
3     True
dtype: bool

In [6]:
print s.str[0]

0    E
1    G
2    L
3    H
dtype: object

In [10]:
print s.str.cat(sep='-')

Eric-George-Lon.don-Hola Mundo

In [13]:
import pandas as pd
demog = pd.read_csv('Demographic_Statistics_By_Zip_Code.csv', header=None)
demog.head()

,0,1,2,3,4,5,6,7,8,9,...,36,37,38,39,40,41,42,43,44,45
0,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
1,10001,44,22,0.5,22,0.5,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
2,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
3,10003,1,1,1,0,0,0,0,1,100,...,1,100,0,0,1,1,0,0,1,100
4,10004,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0