In [9]:
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(7, 5), index=['0','1', '3', '5', '6',
'8','9'],columns=['a', 'b', 'c', 'd', 'e'])

df = df.reindex(['0','1', '2', '3', '4', '5', '6', '7', '8','9'])

print df

          a         b         c         d         e
0 -0.420999  1.034730  0.927523  0.189643  1.763794
1  0.228856  0.116274  0.921083  0.657888 -0.712823
2       NaN       NaN       NaN       NaN       NaN
3  1.890906  0.123924  1.695071  0.993237 -0.818827
4       NaN       NaN       NaN       NaN       NaN
5  0.102090  0.509491  0.548053 -1.776596 -0.458778
6  1.397954  0.094495 -1.572309  1.099998  0.936477
7       NaN       NaN       NaN       NaN       NaN
8  0.148169  0.505142 -1.029470  0.170398  0.837780
9 -0.817624  0.693315 -0.434510 -1.130629 -2.220099

In [10]:
print df.dropna()

          a         b         c         d         e
0 -0.420999  1.034730  0.927523  0.189643  1.763794
1  0.228856  0.116274  0.921083  0.657888 -0.712823
3  1.890906  0.123924  1.695071  0.993237 -0.818827
5  0.102090  0.509491  0.548053 -1.776596 -0.458778
6  1.397954  0.094495 -1.572309  1.099998  0.936477
8  0.148169  0.505142 -1.029470  0.170398  0.837780
9 -0.817624  0.693315 -0.434510 -1.130629 -2.220099

In [5]:
print df['b'].notnull()

0     True
1     True
2    False
3     True
4    False
5     True
6     True
7    False
8     True
9     True
Name: b, dtype: bool

In [4]:
print df['a'].isnull()

0    False
1    False
2     True
3    False
4     True
5    False
6    False
7     True
8    False
9    False
Name: a, dtype: bool

In [6]:
print df['c'].sum()

5.665758300694196

In [7]:
print df.fillna(0)

          a         b         c         d         e
0 -0.932960 -0.225423  2.766258  0.531339  2.417555
1 -1.905968 -0.815707  1.636532  0.357515 -0.398482
2  0.000000  0.000000  0.000000  0.000000  0.000000
3 -1.262918  0.980021  0.012171 -1.859090 -0.318767
4  0.000000  0.000000  0.000000  0.000000  0.000000
5  1.794167  1.375889 -0.775937 -0.701149  0.607157
6 -0.811578  0.603710 -0.330979 -1.050737  0.342397
7  0.000000  0.000000  0.000000  0.000000  0.000000
8 -1.027586  1.065764  0.185077  0.302019 -0.282759
9 -0.437933 -0.057656  2.172637  0.189176  0.357162

In [8]:
print df.fillna(method='pad')

          a         b         c         d         e
0 -0.932960 -0.225423  2.766258  0.531339  2.417555
1 -1.905968 -0.815707  1.636532  0.357515 -0.398482
2 -1.905968 -0.815707  1.636532  0.357515 -0.398482
3 -1.262918  0.980021  0.012171 -1.859090 -0.318767
4 -1.262918  0.980021  0.012171 -1.859090 -0.318767
5  1.794167  1.375889 -0.775937 -0.701149  0.607157
6 -0.811578  0.603710 -0.330979 -1.050737  0.342397
7 -0.811578  0.603710 -0.330979 -1.050737  0.342397
8 -1.027586  1.065764  0.185077  0.302019 -0.282759
9 -0.437933 -0.057656  2.172637  0.189176  0.357162